.container {
    flex: 0 1 700px;
    margin: auto;
    padding: 10px;
 }
 .screen-body-item {
    flex: 1;
    padding: 50px;
 }
 input {
    margin: 10px 10px 10px;
 }
 .showdata {
    color: black;
    font-size: 1.2rem;
    padding-top: 10px;
    padding-bottom: 10px;
 }
 #form-group {
    padding: 20px;
 }

.rights{
   background-color: gray;
   color: black;
   padding-bottom: 50px;
}
*{
   margin: 10px;
}